html {
    scroll-behavior: smooth;
}

body { 
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-weight: bold;
}

p {
    margin: 25px 0px 10px 0px;
    font-size: large;
    text-align: justify;
}

h3 {
    font-weight: 800;
    font-size: 30px;
    color: #406882;
}

h1 {
    font-weight: 500;
    size: 60px;
    color: #FF865E;
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 45px;
    font-weight: 500;
    float: left;
    font-family: 'Inconsolata', monospace;
    color: greenyellow;
    text-decoration: none;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: inline-block;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-bottom: 1px solid #84DFFF;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav .menu ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    font-weight: 200px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.tombol-belanja, .tombol-menu {
    background: #B4FE98;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    color: #191A19;
    cursor: pointer;
    box-sizing: border-box;
}

a.tombol-belanja:hover, a.tombol-menu:hover {
    background: #69DADB;
    text-decoration: none;
    font-weight: bold;
}

.home, .sejarah{
    width: 100%;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 1px black;
}

.sejarah {
    margin-top: 50px;
    padding: 100px 0px;
}

.gambarkonten {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.kolom {
    margin: auto;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.jenis-jenis {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding: 100px 0px;
    box-shadow: 0px 1px black;
}

.jenis-jenis .kolom h2, .pembuatan .kolom h2{
    font-weight: bold;
    font-size: 25px;
    color: #FF865E;
    width: 100%;
}

.tampilan { 
    display: inline-block;
}

.gallery li {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 3px solid rgb(82, 81, 81);
    float: left;
    margin: 5px 12px;
    position: relative;
}

.gallery li img {
    width: 200px;
    height: 200px;
}

.gallery li span {
    display: block;
    width: 200px;
    height: 200px;
    background-color: rgba(220, 220, 220, 0.9);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 200px;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 1px gray;
    opacity: 0;
    transition: 300ms;
    transform: scale(0);
}

.gallery li:hover span{
    opacity: 1;
    transform: scale(1);
}

.pembuatan {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding: 100px 0px;
    box-shadow: 0px 1px black;

}

.video li {
    width: 500px;
    float: left;
}

.video li iframe {
    width: 450px;
    height: 300px;
}

footer {
    border-top: 1px solid #84DFFF;
    background: bisque;
    margin-top: 50px;
    padding: 30px 0px; 
    width: 100%;
    display: flex;
}

footer .tentang, .kontak {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

footer .kontak {
    float: right;
}

footer .kontak ul {
    margin: 10px 0;
    list-style-type: circle;
    padding-left: 20px;
}

#galeri .gambar:hover {
    border: 5px solid;
}

h4 {
    color: #555;
    font-weight: normal;
}

#produk .gambar {
    margin: 6px;
    padding: 5px;
    border: 2px solid #ccc;
    float: center;
    width: 220px;
}

.table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table td, .table th {
    text-align: center;
    padding: 5px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 18px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

.form {
    margin: 30px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    text-align: left;
}

input[type=text], select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #B4FE98;
    color: black;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .table {
        display: block;
        width: 100%;
    }
    
}

/* Clear Fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}